@model List<Post>

@{
    ViewData["Title"] = "List";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Post Başlığı</th>
            <th scope="col">Konu</th>
            <th scope="col">Yazıldığı Tarih</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.PostId</th>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.DateTime.ToShortDateString()</td>
                <td>
                    <form action="@Url.Action("Delete", "Post", new { id = item.PostId })" method="post">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Post")" class="btn btn-primary">Yeni Post Oluştur</a>