@model List<Post>


<section class="featured-posts">
	<div class="section-title">
		<h2><span>Öne Çıkanlar</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		@foreach (var item in Model)
		{
			<div class="card">
				<div class="row">
					<div class="col-md-5 wrapthumbnail">
						<a href="@Url.Action("Detail", "Post", new { id = item.PostId })">
							<div class="thumbnail" style="background-image:url(@item.ImageUrl);">
							</div>
						</a>
					</div>
					<div class="col-md-7">
						<div class="card-block">
							<h2 class="card-title"><a href="@Url.Action("Detail", "Post", new { id = item.PostId })">@item.Title</a></h2>
							<h4 class="card-text">@item.Content</h4>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
										<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
									</span>
									<span class="author-meta">
										<span class="post-name"><a href="author.html">mefeerbas</a></span><br />
										<span class="post-date">@item.DateTime.ToShortDateString()</span><span class="dot"></span><span class="post-read">@item.DateTime.ToShortTimeString()</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		}
	</div>
</section>
